[Desktop Entry]
Type=Application
Name=Neptune
GenericName=Neptune
Exec=Neptune 
Icon=Neptune
Comment=Enjoy free the free sounds without killing your cpu and ram
Categories=Release;
Keywords=keyboard;sound;